---
title: "JohnnyBlocks"
layout: default
permalink: "/author-johnnyblocks.html"-
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}} <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ site.authors.JohnnyBlocks.steam }}">Follow</a></span><a class="text-dark ml-1" target="_blank" href="https://steam.johnnyblocks.com"><i class="fab fa-steam"></i>Steam</a></h2>
                <p class="excerpt">"{{ site.authors.JohnnyBlocks.tagline }}"</p>
                <div class="icon-block mt-2 d-flex justify-content-between"> 
                    {% include social.html %}
                </div>
                   
     
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.JohnnyBlocks.name }}" src="{{site.baseurl}}/{{ site.authors.JohnnyBlocks.avatar }}" class="rounded-circle" height="100" width="100">
            </div>
        
        
        <h4 class="font-weight-bold spanborder"><span>Posts by {{page.title}}</span></h4>
            {% assign posts = site.posts | where:"author","JohnnyBlocks" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
    </div>
</div>
</div>