---
title: "Things JB Wants"
layout: default
permalink: "/buy-me/index.html"
---

<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-8">
          <h1 class="font-weight-bold title h6 text-uppercase mb-4">{{ page.title }}</h1>
          
          {% assign posts = site.posts | where: "categories", "Buy-Me" %}
          {% for post in posts %}
            {% include main-loop-card.html %}
          {% endfor %} 

        </div>
        
        <div class="col-md-4">
          {% include sidebar-featured.html %}    
        </div>
        
    </div>
</div>