---
title: "The Lab Crew"
layout: default
permalink: /lab-crew/index.html
---

<div class="container">
<h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>
    <div class="row gap-y listrecent listrecent listauthor">
    {% for author_list in site.data.crew %}
    {% assign author = author_list[1] %}
        <div class="col-lg-6 mb-4">
            <div class="p-4 border rounded">
            <div class="row">
            <div class="col-md-12">      
            <a href="{{site.baseurl}}/lab-crew/{{ author.name | slugify }}.html">
                <img alt="{{ author.name }}" src="{{site.baseurl}}/{{ author.avatar }}" class="auth-img rounded-circle" height="80" width="80">
                <h4 class="text-dark mb-0">{{ author.name }}</h4>
                <div>"{{ author.tagline }}"</div>
                <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Posts)</small>
            </a>
            <div class="excerpt">{{ author.bio }}</div>
            <div class="icon-block mt-3 d-flex justify-content-between">  
                <div>               
                    
                {% for social_list in author[1] %}
                {% assign social = social_list[1] %}
                    {% if social[1] %}
                        <a target="_blank" href="{{ social.url }}"><i class="fab fa-{{ social.icon }}" aria-hidden="true"></i></a> &nbsp;
                    {% endif %}
                {% endfor %}
                    ---
                    {% if author.steam %}
                        <a target="_blank" href="{{ author.steam }}"><i class="fab fa-steam" aria-hidden="true"></i></a> &nbsp;
                    {% endif %}
                    {% if author.github  %}
                        <a target="_blank" href="{{ author.github }}"><i class="fab fa-github" aria-hidden="true"></i></a> &nbsp;
                    {% endif %}
                    {% if author.reddit  %}
                        <a target="_blank" href="{{ author.reddit }}"><i class="fab fa-reddit" aria-hidden="true"></i></a> &nbsp;
                    {% endif %}
                    {% if author.discord  %}
                        <a target="_blank" href="{{ author.discord }}"><i class="fab fa-discord" aria-hidden="true"></i></a> &nbsp;
                    {% endif %}
                    {% if author.linkedin  %}
                        <a target="_blank" href="{{ author.linkedin }}"><i class="fab fa-linkedin" aria-hidden="true"></i></a> &nbsp;
                    {% endif %}
                    {% if author.twitter  %}
                        <a target="_blank" href="{{ author.twitter }}"><i class="fab fa-twitter" aria-hidden="true"></i></a> &nbsp;
                    {% endif %}
                    {% if author.telegram  %}
                        <a target="_blank" href="{{ author.telegram }}"><i class="fab fa-telegram" aria-hidden="true"></i></a> &nbsp;
                    {% endif %}
                    {% if author.instagram   %}
                        <a target="_blank" href="{{ author.instagram }}"><i class="fab fa-instagram" aria-hidden="true"></i></a> &nbsp;
                    {% endif %}
                    {% if author.youtube  %}
                        <a target="_blank" href="{{ author.youtube }}"><i class="fab fa-youtube" aria-hidden="true"></i></a> &nbsp;
                    {% endif %}
                    {% if author.site %}
                        <a target="_blank" href="{{ author.site }}"><i class="fa fa-globe" aria-hidden="true"></i></a> &nbsp;
                    {% endif %}
                </div>
            </div>
            </div>
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>