            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}} <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ site.authors.JohnnyBlocks.steam }}">Follow</a></span><a class="text-dark ml-1" target="_blank" href="https://steam.johnnyblocks.com"><i class="fab fa-steam"></i>Steam</a></h2>
                <p class="excerpt">"{{ site.authors.JohnnyBlocks.tagline }}"</p>
                <div class="icon-block mt-2 d-flex justify-content-between"> 
                    {% include social.html %}
                </div>
                   
     
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.JohnnyBlocks.name }}" src="{{site.baseurl}}/{{ site.authors.JohnnyBlocks.avatar }}" class="rounded-circle" height="100" width="100">
            </div>









            <img class="w-100" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">