---
title: "Topics"
layout: default
permalink: "/topics/index.html"
---
{% include topic-buttons.html %} 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="font-weight-bold title h6 text-uppercase mb-4">Miscellaneous Topics</h1>
       
            {% assign sorted_tags = site.tags | sort %}
            {% for tag in sorted_tags %}
               
                    {% assign t = tag | first %} 
                    {% assign posts = tag | last %}
                    {% if tag[0] != "Featured" and tag[0] != 'Sticky'  %}
                        <h4 class="font-weight-bold spanborder text-capitalize" id="{{ tag[0] | downcase }}"><span>{{ tag[0] }}</span></h4>
                        {% for post in posts %}
                        {% if post.title != null %}
                        {% if group == null or group == post.group %}
                            {% include main-loop-card.html %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    {% endif%}
                    {% assign pages_list = nil %}
                    {% assign group = nil %}
            {% endfor %}

        </div>
        
            <div class="col-md-4">
        {% include sidebar-featured.html %}    
    </div>
        
    </div>
</div>

