---
title: "SteamDeck"
layout: default
permalink: /topics/steamdeck.html
image: /assets/images/sd_logo_gradient_animated.png
alt: SteamDeck Logo
topic: SteamDeck
---
<img src="{{ page.image }}" title="{{ page.title }}">
<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-8">
          <h1 class="font-weight-bold title h6 text-uppercase mb-4">{{ page.title }}</h1>
          
          

          <h4 class="font-weight-bold spanborder" id="Guides"><span>Latest Article</span></h4>
          {% assign i = 0 %}
          {% for post in site.posts %}
            {% if post.tags contains page.topic and i < 1 %}
                {% include main-loop-card.html %}
                {% assign i = i | plus:1 %}
            {% endif %}
          {% endfor %} 

            <h4 class="font-weight-bold spanborder" id="Guides"><span>Guides by {{ author.name }}</span></h4>
        
            {% assign posts = site.categories.How-To %}
            {% for post in posts %}
              {% if post.tags contains page.topic %}
                {% include main-loop-card.html %}
              {% endif %}
            {% endfor %}

            <h4 class="font-weight-bold spanborder" id="Reviews"><span>Reviews by {{ site.authors.JohnnyBlocks.name }}</span></h4>
        
            {% assign posts = site.categories.Reviews %}
            {% for post in posts %}
              {% if post.tags contains page.topic %}
                {% include main-loop-card.html %}
              {% endif %}
            {% endfor %}

            <h4 class="font-weight-bold spanborder" id="Stories"><span>Stories by {{ site.authors.JohnnyBlocks.name }}</span></h4>
        
            {% assign posts = site.categories.Stories %}
            {% for post in posts %}
              {% if post.tags contains page.topic %}
                {% include main-loop-card.html %}
              {% endif %}
            {% endfor %}

        </div>
        
        <div class="col-md-4">
          {% include sidebar-featured.html %}    
        </div>
        
    </div>
</div>