{% assign current = page.url | downcase | split: '/' %}
 <li class="nav-item">
    <a class="nav-link{% if current[1] == nill %} active{% endif %}" href="{{ site.baseurl }}/">Home : {{ current[1] }} {% if current[1] == 'reviews' %}yes{% endif %} </a>
</li>
<li class="nav-item">
    <a class="nav-link{% if current[1] == 'how-to' %} active{% endif %}" title="Guides & 'How-To' Articles" href="{{ site.baseur l}}/how-to/index.html">Guides</a>
</li>
<!-- 
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Guides
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{{site.baseurl}}/how-to/index.html">All 'How-To' Guides</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{site.baseurl}}/how-to/index.html#steamdeck">SteamDeck</a>
    </div>
  </li>
-->
<li class="nav-item">
    <a class="nav-link{% if current[1] == 'reviews' %} active{% endif %}" title="Reviews of Games, Software, and Periferals"  href="{{ site.baseurl }}/reviews/index.html">Reviews</a>
</li>
<li class="nav-item">
    <a class="nav-link{% if current[1] == 'stories' %} active{% endif %}" title="Stories and Thoughts"  href="{{ site.baseurl }}/stories/index.html">Stories</a>
</li>
<li class="nav-item">
    <a class="nav-link{% if current[1] == 'lab-crew' %} active{% endif %}" title="List of Authors at the Lab" href="{{ site.baseurl }}/lab-crew/index.html">The&nbsp;Crew</a>
</li>
<li class="nav-item">
    <a class="nav-link{% if current[1] == 'the-lab' %} active{% endif %}" title="About JB's Lab" href="{{ site.baseurl }}/the-lab/index.html">The&nbsp;Lab</a>
</li>
<li class="nav-item">
    <a title="Buy JB a Coffee{% if current[1] == 'buy-me' %} active{% endif %}" class="nav-link" href="{{ site.baseurl }}/buy-me/a-coffee.html"><i class="fa fa-coffee"></i></a>
</li>
<li class="nav-item">
    <a title="Atom Feed" class="nav-link" href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i></a>
</li>