<!--   
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/">Home</a>
</li>
-->
<li class="nav-item">
    <a class="nav-link" title="Guides & 'How-To' Articles" href="https://johnnyblocks.com/categories.html#how-to">Guides</a>
</li>
<li class="nav-item">
    <a class="nav-link" title="Reviews of Games and Things"  href="https://johnnyblocks.com/categories.html#review">Reviews</a>
</li>
<li class="nav-item">
    <a class="nav-link" title="Blog Articles from Lab Authors"  href="https://johnnyblocks.com/categories.html#commentary">Thoughts</a>
</li>
<li class="nav-item">
    <a class="nav-link" title="About JB's Lab" href="{{site.baseurl}}/about-the-lab.html">The&nbsp;Lab</a>
</li>
<li class="nav-item">
    <a class="nav-link" title="List of Authors at the Lab" href="{{site.baseurl}}/lab-crew.html">The&nbsp;Crew</a>
</li>
<li class="nav-item">
    <a target="_blank" title="Buy JB a Coffee" class="nav-link" href="{{site.baseurl}}/buy-me-a-coffee.html"><i class="fa fa-coffee"></i></a>
</li>
