<!--  Replace menu links here -->
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" title="Blog Articles from Lab Authors"  href="https://johnnyblocks.com/categories.html#review">Blogs</a>
</li>
<li class="nav-item">
    <a class="nav-link" title="Guides & 'How-To' Articles" href="https://johnnyblocks.com/categories.html#how-to">How-Tos</a>
</li>
<li class="nav-item">
    <a class="nav-link" title="Reviews of Games and Things"  href="https://johnnyblocks.com/categories.html#review">Reviews</a>
</li>
<li class="nav-item">
    <a class="nav-link" title="About JB's Lab" href="{{site.baseurl}}/about-the-lab.html">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" title="List of Authors at the Lab" href="{{site.baseurl}}/authors-corner.html">Authors</a>
</li>
<li class="nav-item">
    <a target="_blank" title="Send me $$$" class="nav-link" href="{{site.baseurl}}/buy-me-a-coffee.html">Buy JB a coffee <i class="fa fa-coffee"></i></a>
</li>
