<div class="row mt-5">
    <div class="col-md-2 align-self-center">
        <a class="text-dark" href="{{site.baseurl}}/lab-crew/{{ author.name | downcase }}">
            <img class="rounded-circle" src="{{site.baseurl}}/{{author.avatar}}" alt="{{author.name}}" width="90"/>
        </a>
    </div>
    <div class="col-md-10">		
        <h5 class="font-weight-bold">Written by <a class="text-dark" href="{{site.baseurl}}/lab-crew/{{ author.name | downcase }}">{{ author.name }}</a></h5>
        {{ author.tagline }}	
        {% include social.html %}
        <small class="d-block text-muted">
            In <span class="catlist">
            {% for category in page.categories %}
                <a class="text-dark" href="{{site.baseurl}}/{{ category | downcase }}/index.html#">{{ category }}</a>	
            {% endfor %}
            <span class="sep"> : Topics:</span> 
            {% for tag in page.tags %}
                {% include post-tags.html%}
            {% endfor %}
            </span>
        </small>				
    </div>

</div>		