<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Featured</span></h4>  
    <ol class="list-featured">				
        {% for post in site.tags.Featured %}                
            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <small class="d-block text-muted">
                    In <span class="catlist">
                    {% for category in post.categories %}
                        <a class="text-dark" href="{{site.baseurl}}/{{ category | downcase }}/index.html#">{{ category }}</a>	
                    {% endfor %}
                    <span class="sep"> : Topics:</span> 
                    {% for tag in post.tags %}
                        <a class="text-dark smoothscroll" href="{{site.baseurl}}/tags.html#{{ tag | downcase }}">{{ tag }}</a>
                    {% endfor %}
                    </span>
                </small>
            </span>
            </li>                
        {% endfor %}   
    </ol>
</div> 