<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Featured</span></h4>  
    <ol class="list-featured">				
        {% for post in site.tags.Featured %}                
            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                {% if post.rating %}
                    <div class="mb-2 mt-2 font-weight-normal">
                    {% include star_rating_postbox.html %}
                    </div>
                {% endif %}
                <small class="d-block text-muted">
                    In <span class="catlist">
                    {% for category in post.categories %}
                        <a class="text-dark" href="{{site.baseurl}}/{{ category | downcase }}/index.html#">{{ category }}</a>	
                    {% endfor %}
                    <span class="sep"> : Topics:</span> 
                    {% for tag in post.tags %}
                        {% include post-tags.html%}
                    {% endfor %}
                    </span>
                </small>
                <small class="text-muted">
                    By <a class="text-dark" href='{{site.baseurl}}/lab-crew/{{ post.author | slugify }}.html'>{{ post.author }}</a> : {{ post.date | date: '%Y-%m-%d' }}
                </small>
            </span>
            </li>                
        {% endfor %}   
    </ol>
</div> 