<div class="container">
    <p class="excerpt mb-5">
        <a class="text-dark sscroll btn btn-light btn-sm font-weight-bold" href="{{site.baseurl}}/topics/steamdeck.html">SteamDeck</a>
        <a class="text-dark sscroll btn btn-light btn-sm font-weight-bold" href="{{site.baseurl}}/topics/teamspeak.html">TeamSpeak</a>
        {% assign sorted_tags = site.tags | sort %}
        {% for tag in sorted_tags %}
            {% assign t = tag | first %} 
            {% assign posts = tag | last %}
            {% if tag[0] != "Featured" and tag[0] != 'Sticky' and tag[0] != "SteamDeck" and tag[0] 1= "TeamSpeak" %}
                <a class="text-dark sscroll btn btn-light btn-sm font-weight-bold" href="{{site.baseurl}}/topics/index.html#{{ tag[0] | downcase }}">{{ tag[0] }}</a>         
            {% endif %}    
        {% endfor %}        
    </p>
</div> 