---
layout: default
---
<div class="container mb-2">
    <img src="{{ page.image }}" title="{{ page.alt }}" style="max-height: 150px;" style="mb-4">
</div>
<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-8">
            <h4 class="font-weight-bold spanborder"><span>{{ page.title }}</span></h4>
          <p class="excerpt">
            {{ page.description }}
          </p>
          <p class="excerpt mb-5">
            <a class="text-dark sscroll btn btn-light btn-sm font-weight-bold" href="#Guides" >Guides</a>
            <a class="text-dark sscroll btn btn-light btn-sm font-weight-bold" href="#Reviews">Reviews</a>
            <a class="text-dark sscroll btn btn-light btn-sm font-weight-bold" href="#Stories">Stories</a>
            <a class="text-dark sscroll btn btn-light btn-sm font-weight-bold" href="#Latest">Latest</a>
          </p>
          <h4 class="font-weight-bold spanborder" id="Latest"><span>{{ page.topic }} Latest Article</span></h4>
          {% assign i = 0 %}
          {% for post in site.posts %}
            {% if post.tags contains page.topic and i < 1 %}
                {% include main-loop-card.html %}
                {% assign i = i | plus:1 %}
            {% endif %}
          {% endfor %} 

            <h4 class="font-weight-bold spanborder" id="Guides"><span>{{ page.topic }} Guides</span></h4>
            {% assign i = 0 %}
            {% assign posts = site.categories.How-To %}
            {% for post in posts %}
              {% if post.tags contains page.topic %}
                {% include main-loop-card.html %}
                {% assign i = i | plus:1 %}
              {% endif %}
            {% endfor %}
            {% if i < 1 %}
              <p class="excerpt mb-5">There are no {{ page.topic }} Guides.</p>
            {% endif %}
            <h4 class="font-weight-bold spanborder" id="Reviews"><span>{{ page.topic }} Reviews</span></h4>
            {% assign i = 0 %}
            {% assign posts = site.categories.Reviews %}
            {% for post in posts %}
              {% if post.tags contains page.topic %}
                {% include main-loop-card.html %}
                {% assign i = i | plus:1 %}
              {% endif %}
            {% endfor %}
            {% if i < 1 %}
              <p class="excerpt mb-5">There are no {{ page.topic }} Reviews.</p>
            {% endif %}
            <h4 class="font-weight-bold spanborder" id="Stories"><span>{{ page.topic }} Stories</span></h4>
            {% assign i = 0 %}
            {% assign posts = site.categories.Stories %}
            {% for post in posts %}
              {% if post.tags contains page.topic %}
                {% include main-loop-card.html %}
                {% assign i = i | plus:1 %}
              {% endif %}
            {% endfor %}
            {% if i < 1 %}
              <p class="excerpt mb-5">There are no {{ page.topic }} Stpries.</p>
            {% endif %}
        </div>
        
        <div class="col-md-4">
          {% include sidebar-featured.html %}    
        </div>
        
    </div>
</div>